.main {
  font-family: var(--content-font);
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
}

.article {
  font-family: var(--content-font);
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
}
